<section>
    <h3>נהגים</h3>
    
    <mat-form-field class="search">
        <mat-label>חיפוש נהג</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
    
    <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="rate-limit-reached" *ngIf="isRateLimitReached">
            לא נמצאו נהגים
        </div>
    </div>
    
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="table" matSort (matSortChange)="sortData($event)"
            matSortActive="displayName" matSortDisableClear matSortDirection="asc">
    
            <ng-container matColumnDef="uid">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="uid">מזהה נהג</th>
                <td mat-cell *matCellDef="let row">{{row.uid}}</td>
            </ng-container>
    
            <ng-container matColumnDef="displayName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="displayName">שם מלא</th>
                <td mat-cell *matCellDef="let row">{{row.displayName}}</td>
            </ng-container>
    
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="email">אימייל</th>
                <td mat-cell *matCellDef="let row">{{row.email}}</td>
            </ng-container>

            <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="phoneNumber">טלפון</th>
                <td mat-cell *matCellDef="let row">{{row.phoneNumber}}</td>
            </ng-container>

            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="city">עיר מגורים</th>
                <td mat-cell *matCellDef="let row">{{row.city}}</td>
            </ng-container>

            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="address">רחוב</th>
                <td mat-cell *matCellDef="let row">{{row.address}}</td>
            </ng-container>

            <ng-container matColumnDef="addressNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="addressNumber">מספר בית</th>
                <td mat-cell *matCellDef="let row">{{row.addressNumber}}</td>
            </ng-container>

            <ng-container matColumnDef="licenseType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="licenseType">סוג רישיון</th>
                <td mat-cell *matCellDef="let row">{{row.licenseType | enum:LicenseType}}</td>
            </ng-container>
    
            <ng-container matColumnDef="workingStartDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="workingStartDate">תאריך התחלת עבודה</th>
                <td mat-cell *matCellDef="let row">{{row.workingStartDate | dateFormat}}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                    <div class="action-group">
                        <button class="fab-btn" mat-fab color="primary" class="action-btn" matTooltip="עדכון פרטי נהג" (click)="edit(row)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button class="fab-btn" mat-fab color="primary" class="action-btn" matTooltip="מחק נהג" (click)="delete(row)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [length]="resultsLength" showFirstLastButtons></mat-paginator>
</section>

<section class="form">
    <h3>הוספת\עריכת נהג</h3>

    <form [formGroup]="form" autocomplete="off" novalidate fxLayout="column wrap"
        fxLayoutAlign="center center" fxLayoutGap="10px">
    
        <mat-card-content>
            <mat-form-field>
                <input matInput type="text" placeholder="מזהה נהג" formControlName="uid" id="uid">
            </mat-form-field>
    
            <mat-form-field>
                <input matInput type="text" placeholder="שם מלא" formControlName="displayName" id="displayName">
                <mat-error *ngIf="hasError('displayName', 'required')">חובה להזין שם מלא</mat-error>
            </mat-form-field>
    
            <mat-form-field>
                <input matInput type="email" placeholder="אימייל" formControlName="email" id="email">
                <mat-error *ngIf="hasError('email', 'email')">כתובת מייל לא תקינה</mat-error>
                <mat-error *ngIf="hasError('email', 'required')">חובה להזין כתובת מייל</mat-error>
            </mat-form-field>
    
            <mat-form-field>
                <input matInput type="tel" placeholder="מספר טלפון" formControlName="phoneNumber" id="phoneNumber">
                <mat-error *ngIf="hasError('phoneNumber', 'required')">חובה להזין מספר טלפון</mat-error>
            </mat-form-field>
    
            <mat-form-field>
                <input matInput type="text" placeholder="עיר מגורים" formControlName="city" id="city"
                    [matAutocomplete]="autoCities" (blur)="checkCity()" autocomplete="off">
                <mat-autocomplete autoActiveFirstOption #autoCities="matAutocomplete" (optionSelected)="cityClick($event)">
                    <mat-option *ngFor="let city of filteredCities | async" [value]="city.name">
                        {{ city.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
    
            <div class="inner-grid">
                <mat-form-field>
                    <input matInput type="text" placeholder="רחוב" formControlName="address" id="address"
                        [matAutocomplete]="autoAddresses" (blur)="checkStreet()" autocomplete="off">
                    <mat-autocomplete autoActiveFirstOption #autoAddresses="matAutocomplete"
                        (optionSelected)="streetClick($event)">
                        <mat-option *ngFor="let street of filteredStreets | async" [value]="street['שם_רחוב']">
                            {{ street['שם_רחוב'] }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
    
                <mat-form-field>
                    <input matInput type="number" placeholder="מס' בית" formControlName="addressNumber" id="addressNumber">
                </mat-form-field>
            </div>
    
            <mat-form-field>
                <mat-label>סוג רישיון</mat-label>
                <mat-select formControlName="licenseType" id="licenseType">
                    <mat-option *ngFor="let type of LicenseType | keyvalue" [value]="type.key"> {{type.value}} </mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field>
                <input matInput type="date" placeholder="תאריך תחילת עבודה" formControlName="workingStartDate"
                    id="workingStartDate">
            </mat-form-field>
    
        </mat-card-content>
    
        <mat-card-actions>
            <button type="submit" mat-raised-button color="primary" [disabled]="!form?.valid || isLoading==true" (click)="submit(form?.value)">שמור שינויים</button>
            <button mat-raised-button color="primary" [disabled]="isLoading==true" (click)="reset()">ניקוי טופס</button>
        </mat-card-actions>
    </form>
</section>