:host {
    font-size: 16px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: silver;
    border-bottom: 1px solid;
}

.grid > p {
    padding: 0 2rem;
    font-weight: bold;
}

.grid > div {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: start;
    background: white;
    padding: 1rem;
    gap: 1rem;
}