<div class="grid">
    <p>דוחות</p>
    <p>ניהול מערכת</p>
</div>

<div class="grid">
    <div>
        <button mat-button (click)="navigate(['dashboard','reports'])">הנפקת דוחות</button>
    </div>
    <div>
        <button mat-button (click)="navigate(['dashboard','drivers'])">ניהול נהגים</button>
        <button mat-button (click)="navigate(['dashboard','orders'])">ניהול הזמנות</button>
        <button mat-button (click)="navigate(['dashboard','view-update-routes'])">צפייה ועדכון מסלולים קבועים</button>
    </div>
</div>