mat-card-content {
  max-width: 700px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 50px;
}

mat-card-content.datepicker {
    display: flex;
    justify-content: center;
    text-align: center;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

mat-card-actions button {
  margin-bottom: 50px;
  text-align: center;
}

mat-card-actions p {
  text-align: center;
  display: inline-block;
  padding-left: 7px;
  margin-bottom: 25px;
  font-size: 12px;
}

.datepicker-section {
  margin-top: 50px;
}

.datepicker-section .title {
  text-align: center;
  font-size: 16px;
  margin-bottom: 7px;
}

.datepicker mat-form-field {
  max-width: 300px;
  margin-bottom: 30px;
}

.dates-picked-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

mat-icon {
  cursor: pointer;
  position: relative;
  top: 5px;
}


.inner-grid {
  display: grid;
  grid-template-columns: 200px 100px;
  gap: 25px;
}