<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-radio-group class="form-control" formControlName="userType">
        <mat-radio-button *ngFor="let type of UserType | keyvalue" [value]="type.value">
            {{type.value}}
        </mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="form-control">
        <mat-label>אימייל</mat-label>
        <input matInput formControlName="email" type="text" required />

        <mat-error *ngIf="email?.hasError('required')">
            חובה להזין אימייל
        </mat-error>

        <mat-error *ngIf="email?.hasError('email')">
            האימייל לא תקין, יש להזין אימייל תקין
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-control">
        <mat-label>סיסמא</mat-label>
        <input matInput formControlName="password" type="password" required />
        <mat-error *ngIf="password?.hasError('required')">
            חובה להזין סיסמא
        </mat-error>
    </mat-form-field>

    <div class="form-footer">
        <button [disabled]="form.invalid" mat-raised-button type="submit">
            הכנס
        </button>
    </div>
</form>