:host {
    font-size: 1.6rem;
}

button {
  background-color: #5eccd6;
  border-radius: 20px;
  color: #fff;
  padding: 0 50px;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
  width: 300px;
}

mat-form-field {
  width: 100%;
}

.form-footer {
    margin-top: 2rem;
}

mat-radio-group {
    margin: 4rem 0 2rem;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}