<div class="grid">
    <p>שיבוצים</p>
    <p>דוחות</p>
    <p>הזמנות לשיבוץ</p>
</div>

<div class="grid">
    <div>
        <button mat-button (click)="navigate(['dashboard','view-update-routes'])">צפייה ועדכון מסלולים קבועים</button>
        <button mat-button (click)="navigate(['dashboard','orders-tracker'])">מעקב אחר סטטוס הזמנות</button>
        <button mat-button (click)="navigate(['dashboard','driver-constraints'])">הזנת אילוצי נהגים</button>
    </div>

    <div>
        <button mat-button (click)="navigate(['dashboard','reports'])">הפקת דוחות</button>
    </div>

    <div>
        <button mat-button (click)="navigate(['dashboard','scheduling'])">ביצוע שיבוץ חדש</button>
    </div>
</div>